.footer {
    color:$white;
    padding-top:4rem;
    text-align: center;


    @include breakpoint-up(large) {
        display: grid;
        grid-template: 50px 40px 40px 30px / 20% 30% 1% 16% 10% ; 
        gap: 1rem 6.7rem;
        grid-template-areas:
            "logo menu p2 button p1"
            "social menu copy copy p1"
            "social menu copy copy p1"
            "bt bt bt bt bt"
            
        ;

    }

    a {color:$white;}

    &__logo {
        display:inline-block;
        margin-bottom: 2rem;

        @include breakpoint-up(large) {
            grid-area: logo; 
        }


        

    }

    &__social {
        display:block;
        margin-bottom: 2rem;
        a:not(:last-child){
            margin-right: 1rem;
        }

        @include breakpoint-up(large) {
            grid-area: social; 
        }

    }

    &__menu {
        display:grid;
        grid-template-rows:repeat(6,1fr);
        margin-bottom: 2rem;

        a:not(:last-child){
            margin-bottom: 1rem;
            @include breakpoint-up(large) {
                margin-bottom: 0px;

            }
        }

        @include breakpoint-up(large) {
            grid-area: menu; 
            grid-template: 20px 20px 20px 50px / 2fr 4fr;

            gap:1rem ;
            text-align: left;
            margin-bottom: 0px;
        }

    }
    &__button {
        margin-bottom: 5.7rem;

        @include breakpoint-up(large) {
            grid-area: button;
            margin-bottom: 0px;
            
        }

    }

    &__copy {
        font-size: 1rem;
        color: $grayishBlue;
        @include breakpoint-up(large) {
            grid-area: copy;
            text-align: right;
        }
    }
    &__bigThank{
        @include breakpoint-up(large) {
            grid-area: bt;
        }
    }

    &__whiteSpace {
        opacity:0;
        @include breakpoint-up(large) {
            grid-area: p1;
        }
    }

    &__blackSpace {
        opacity:0;
        @include breakpoint-up(large) {
            grid-area: p2;
        }
    }

}

.bg {
    background-color: $darkBlue;
}
